/* ===== Start Gutter: Column ===== */
#content,
.container {
  padding-right: 15px;
  padding-left: 15px;
}

/* ===== End Gutter: Column ===== */
/* ===== Start Grid: Container ===== */
#content,
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  #content,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  #content,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  #content,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  #content,
  .container {
    max-width: 1140px;
  }
}

/* ===== End Grid: Container ===== */

/* ===== Start Grid: Row ===== */
.comment-form,
.elementor-element .gallery,
.row,
.single .gallery,
.site-footer .widget-area,
.widget .gallery,
[data-elementor-columns],
[data-opal-columns],
body.opal-content-layout-2cr #content .wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* ===== End Grid: Row ===== */
.elementor-element .gallery,
.single .gallery,
.widget .gallery {
  margin-right: 0;
  margin-left: 0;
}

.elementor-element .gallery>.col,
.elementor-element .gallery>[class*="col-"],
.elementor-element body .gallery>#secondary,
.single .gallery>.col,
.single .gallery>[class*="col-"],
.single body .gallery>#secondary,
.widget .gallery>.col,
.widget .gallery>[class*="col-"],
.widget body .gallery>#secondary,
body .elementor-element .gallery>#secondary,
body .single .gallery>#secondary,
body .widget .gallery>#secondary {
  padding-right: 0;
  padding-left: 0;
}

/* ===== Start Grid: Column ===== */
.col,
.col-lg-5,
.col-lg-7,
.col-md-6,
.comment-form .comment-form-author,
.comment-form .comment-form-comment,
.comment-form .comment-form-email,
.comment-form .comment-notes,
.comment-form .form-submit,
.comment-form>*,
.site-footer .widget-area .widget-column,
[data-elementor-columns-mobile="1"] .column-item,
[data-elementor-columns-mobile="2"] .column-item,
[data-elementor-columns-mobile="3"] .column-item,
[data-elementor-columns-mobile="4"] .column-item,
[data-elementor-columns-mobile="6"] .column-item,
[data-elementor-columns-tablet="1"] .column-item,
[data-elementor-columns-tablet="2"] .column-item,
[data-elementor-columns-tablet="3"] .column-item,
[data-elementor-columns-tablet="4"] .column-item,
[data-elementor-columns-tablet="6"] .column-item,
[data-elementor-columns="1"] .column-item,
[data-elementor-columns="2"] .column-item,
[data-elementor-columns="3"] .column-item,
[data-elementor-columns="4"] .column-item,
[data-elementor-columns="6"] .column-item,
[data-opal-columns="1"] .column-item,
[data-opal-columns="2"] .column-item,
[data-opal-columns="3"] .column-item,
[data-opal-columns="4"] .column-item,
[data-opal-columns="6"] .column-item,
[data-opal-columns="12"] .column-item,
body #secondary {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* ===== End Grid: Column ===== */
.col,
body #secondary {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}


[data-elementor-columns-mobile="6"] .column-item {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}


[data-elementor-columns-mobile="4"] .column-item {
  flex: 0 0 25%;
  max-width: 25%;
}


[data-elementor-columns-mobile="3"] .column-item {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}


[data-elementor-columns-mobile="2"] .column-item {
  flex: 0 0 50%;
  max-width: 50%;
}


.comment-form .comment-form-comment,
.comment-form .comment-notes,
.comment-form .form-submit,
.comment-form>*,
.site-footer .widget-area .widget-column,
[data-elementor-columns-mobile="1"] .column-item {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {

  [data-opal-columns="12"] .column-item {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  [data-elementor-columns-mobile="6"] .column-item,
  [data-opal-columns="6"] .column-item {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  [data-elementor-columns-mobile="4"] .column-item,
  [data-opal-columns="4"] .column-item {
    flex: 0 0 25%;
    max-width: 25%;
  }

  [data-elementor-columns-mobile="3"] .column-item,
  [data-opal-columns="3"] .column-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .comment-form .comment-form-author,
  .comment-form .comment-form-email,
  [data-elementor-columns-mobile="2"] .column-item,
  [data-opal-columns="2"] .column-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .site-footer .widget-area .widget-column,
  [data-elementor-columns-mobile="1"] .column-item,
  [data-opal-columns="1"] .column-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  [data-elementor-columns-tablet="6"] .column-item {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  [data-elementor-columns-tablet="4"] .column-item {
    flex: 0 0 25%;
    max-width: 25%;
  }

  [data-elementor-columns-tablet="3"] .column-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-6,
  .site-footer .widget-area .widget-column,
  [data-elementor-columns-tablet="2"] .column-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  [data-elementor-columns-tablet="1"] .column-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  [data-elementor-columns="6"] .column-item {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  [data-elementor-columns="4"] .column-item {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .site-footer .widget-area .widget-column,
  [data-elementor-columns="3"] .column-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  [data-elementor-columns="2"] .column-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  [data-elementor-columns="1"] .column-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.d-inline-block {
  display: inline-block;
}


.d-flex,
.pagination .nav-links {
  display: flex;
}

.flex-column {
  flex-direction: column;
}


.pagination .nav-links {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.m-1 {
  margin: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}


.py-3 {
  padding-top: 1rem;
}


.py-3 {
  padding-bottom: 1rem;
}


.py-4 {
  padding-top: 1.5rem;
}


.py-4 {
  padding-bottom: 1.5rem;
}


.mx-auto {
  margin-right: auto;
}


.mx-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}


.button,
.button-primary,
.button-secondary,
.elementor-element .elementor-button-light .elementor-button,
.elementor-element .elementor-button-link .elementor-button,
.more-link,
button,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="button"]:not(.btn):not(.button),
input[type="reset"],
input[type="reset"]:not(.btn):not(.button),
input[type="submit"],
input[type="submit"]:not(.btn):not(.button) {
  display: inline-block;
  font-weight: 700;
  font-family: GilmerHeavy;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  letter-spacing: 0;
  transition: color 0.4s ease, background-color 0.4s ease, background 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
}

.button-primary:focus,
.button-primary:hover,
.button-secondary:focus,
.button-secondary:hover,
.button:focus,
.button:hover,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-link .elementor-button:focus,
.elementor-element .elementor-button-link .elementor-button:hover,
.more-link:focus,
.more-link:hover,
button:focus,
button:hover,
input:focus[type="button"],
input:focus[type="button"]:not(.btn):not(.button),
input:focus[type="reset"],
input:focus[type="reset"]:not(.btn):not(.button),
input:focus[type="submit"],
input:focus[type="submit"]:not(.btn):not(.button),
input:hover[type="button"],
input:hover[type="button"]:not(.btn):not(.button),
input:hover[type="reset"],
input:hover[type="reset"]:not(.btn):not(.button),
input:hover[type="submit"],
input:hover[type="submit"]:not(.btn):not(.button) {
  text-decoration: none;
}

.button-primary.focus,
.button-primary:focus,
.button-secondary.focus,
.button-secondary:focus,
.button:focus,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .focus.elementor-button,
.elementor-element .elementor-button-link .elementor-button:focus,
.elementor-element .elementor-button-link .focus.elementor-button,
.focus.button,
.focus.more-link,
.more-link:focus,
button.focus,
button:focus,
input.focus[type="button"],
input.focus[type="button"]:not(.btn):not(.button),
input.focus[type="reset"],
input.focus[type="reset"]:not(.btn):not(.button),
input.focus[type="submit"],
input.focus[type="submit"]:not(.btn):not(.button),
input:focus[type="button"],
input:focus[type="button"]:not(.btn):not(.button),
input:focus[type="reset"],
input:focus[type="reset"]:not(.btn):not(.button),
input:focus[type="submit"],
input:focus[type="submit"]:not(.btn):not(.button) {
  outline: 0;
  box-shadow: none;
}

.button-primary.disabled,
.button-primary:disabled,
.button-secondary.disabled,
.button-secondary:disabled,
.button:disabled,
.disabled.button,
.disabled.more-link,
.elementor-element .elementor-button-light .disabled.elementor-button,
.elementor-element .elementor-button-light .elementor-button:disabled,
.elementor-element .elementor-button-link .disabled.elementor-button,
.elementor-element .elementor-button-link .elementor-button:disabled,
.more-link:disabled,
button.disabled,
button:disabled,
input.disabled[type="button"],
input.disabled[type="button"]:not(.btn):not(.button),
input.disabled[type="reset"],
input.disabled[type="reset"]:not(.btn):not(.button),
input.disabled[type="submit"],
input.disabled[type="submit"]:not(.btn):not(.button),
input:disabled[type="button"],
input:disabled[type="button"]:not(.btn):not(.button),
input:disabled[type="reset"],
input:disabled[type="reset"]:not(.btn):not(.button),
input:disabled[type="submit"],
input:disabled[type="submit"]:not(.btn):not(.button) {
  box-shadow: none;
  cursor: no-drop;
}

.active.button,
.active.more-link,
.button-primary.active,
.button-primary:active,
.button-secondary.active,
.button-secondary:active,
.button:active,
.elementor-element .elementor-button-light .active.elementor-button,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-link .active.elementor-button,
.elementor-element .elementor-button-link .elementor-button:active,
.more-link:active,
button.active,
button:active,
input.active[type="button"],
input.active[type="button"]:not(.btn):not(.button),
input.active[type="reset"],
input.active[type="reset"]:not(.btn):not(.button),
input.active[type="submit"],
input.active[type="submit"]:not(.btn):not(.button),
input:active[type="button"],
input:active[type="button"]:not(.btn):not(.button),
input:active[type="reset"],
input:active[type="reset"]:not(.btn):not(.button),
input:active[type="submit"],
input:active[type="submit"]:not(.btn):not(.button) {
  background-image: none;
  box-shadow: none, inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

a[class*="button-"].disabled,
fieldset[disabled] a[class*="button-"] {
  pointer-events: none;
}


.button,
.button-primary,
.more-link,
button,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="button"]:not(.btn):not(.button),
input[type="reset"],
input[type="reset"]:not(.btn):not(.button),
input[type="submit"],
input[type="submit"]:not(.btn):not(.button) {
  color: #fff;
  box-shadow: none;
}

.button-primary:hover,
.button:hover,
.more-link:hover,
button:hover,
input:hover[type="button"],
input:hover[type="button"]:not(.btn):not(.button),
input:hover[type="reset"],
input:hover[type="reset"]:not(.btn):not(.button),
input:hover[type="submit"],
input:hover[type="submit"]:not(.btn):not(.button) {
  color: #fff;
}

.button-primary.disabled,
.button-primary:disabled,
.button:disabled,
.disabled.button,
.disabled.more-link,
.more-link:disabled,
button.disabled,
button:disabled,
input.disabled[type="button"],
input.disabled[type="button"]:not(.btn):not(.button),
input.disabled[type="reset"],
input.disabled[type="reset"]:not(.btn):not(.button),
input.disabled[type="submit"],
input.disabled[type="submit"]:not(.btn):not(.button),
input:disabled[type="button"],
input:disabled[type="button"]:not(.btn):not(.button),
input:disabled[type="reset"],
input:disabled[type="reset"]:not(.btn):not(.button),
input:disabled[type="submit"],
input:disabled[type="submit"]:not(.btn):not(.button) {
  background-color: #1ed8c6;
  border-color: #1ed8c6;
}

.active.button,
.active.more-link,
.button-primary.active,
.button-primary:active,
.button:active,
.more-link:active,
button.active,
button:active,
input.active[type="button"],
input.active[type="button"]:not(.btn):not(.button),
input.active[type="reset"],
input.active[type="reset"]:not(.btn):not(.button),
input.active[type="submit"],
input.active[type="submit"]:not(.btn):not(.button),
input:active[type="button"],
input:active[type="button"]:not(.btn):not(.button),
input:active[type="reset"],
input:active[type="reset"]:not(.btn):not(.button),
input:active[type="submit"],
input:active[type="submit"]:not(.btn):not(.button) {
  color: #fff;
  background-image: none;
}


.button-secondary {
  color: #fff;
  box-shadow: none;
}

.button-secondary:hover {
  color: #fff;
}

.button-secondary.disabled,
.button-secondary:disabled {
  background-color: #39246a;
  border-color: #39246a;
}

.button-secondary.active,
.button-secondary:active {
  color: #fff;
  background-image: none;
}


.button,
.button-primary,
.button-secondary,
.elementor-element .elementor-button-light .elementor-button,
.elementor-element .elementor-button-link .elementor-button,
.more-link,
button,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="button"]:not(.btn):not(.button),
input[type="reset"],
input[type="reset"]:not(.btn):not(.button),
input[type="submit"],
input[type="submit"]:not(.btn):not(.button) {
  padding: 0.625rem 3rem;
  font-size: 1rem;
  line-height: 1.875;
  border-radius: 50px;
}


.elementor-widget-opal-schedules .schedules-day .schedules-day-name,
.elementor-widget-opal-schedules .schedules-day .schedules-day-time {
  padding: 1.1rem 3.75rem;
  font-size: 1rem;
  line-height: 1.875;
  border-radius: 50px;
}


.elementor-element .elementor-button-link .elementor-button {
  padding: 0;
  border-radius: 0;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
}


.elementor-element .elementor-button-link .active.elementor-button,
.elementor-element .elementor-button-link .elementor-button,
.elementor-element .elementor-button-link .elementor-button:active,
.elementor-element .elementor-button-link .elementor-button:disabled {
  background-color: transparent;
}


.elementor-element .elementor-button-link .elementor-button,
.elementor-element .elementor-button-link .elementor-button:active,
.elementor-element .elementor-button-link .elementor-button:focus,
.elementor-element .elementor-button-link .elementor-button:hover {
  border-color: transparent;
}


.elementor-element .elementor-button-link .elementor-button:disabled {
  color: #f8f9fa;
}

.elementor-element .elementor-button-link .elementor-button:disabled:focus,
.elementor-element .elementor-button-link .elementor-button:disabled:hover {
  text-decoration: none;
}


.elementor-element .elementor-button-light .elementor-button {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover {
  color: #fff;
}


.elementor-element .elementor-button-primary_gradient .elementor-button {
  border: 0;
  color: #fff;
  background-size: 150% auto;
}

.elementor-element .elementor-button-primary_gradient .elementor-button:active,
.elementor-element .elementor-button-primary_gradient .elementor-button:focus,
.elementor-element .elementor-button-primary_gradient .elementor-button:hover {
  color: #fff;
  background-position: 100% 100%;
}

.border {
  border: 1px solid #f4f4f4;
}

.border-0 {
  border: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


em,
i {
  font-style: italic;
}

.dropdown {
  position: relative;
}

.dropdown-backdrop {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

[data-search-toggle="close"] {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 30px;
  display: none;
}

[data-search-toggle="close"]:before {
  font-size: 20px;
}

.platform-windows.over-hidden .opal-wrapper {
  padding-right: 17px;
}

.over-hidden {
  overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: GilmerHeavy;
  font-weight: 400;
  line-height: 1.2;
  color: #39246a;
}

.h1,
h1 {
  font-size: 2.25rem;
}

.h2,
h2 {
  font-size: 1.5rem;
}

.h3,
h3 {
  font-size: 1.25rem;
}

.h4,
h4 {
  font-size: 1.125rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.875rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

.mark,
mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* ===== Start Typography: Heading ===== */
#secondary .elementor-widget-container h5:first-of-type,
.description-schedules-popup .header .schedules-date,
.elementor-accordion .elementor-tab-title,
.elementor-teams-wrapper .elementor-team-name,
.elementor-widget-heading .elementor-heading-title,
.error404 h1,
.schedules-day-inner .schedules-day-name,
.schedules-day-inner .schedules-day-time,
.scrollup span,
.site-title,
.speaker-name,
.time-schedules,
.title-schedules,
.typo-heading,
.witalk-events-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  font-family: GilmerHeavy;
}

/* ===== End Typography: Heading ===== */

.form-control {
  display: block;
  width: 100%;
  padding: 0.625rem 3rem;
  font-size: 1rem;
  line-height: 1.875;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #87eee4;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), none;
}

.form-control::placeholder {
  color: #868e96;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e7e7e7;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(3.125rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.figure {
  display: inline-block;
}

@keyframes c {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e7e7e7;
  border-radius: 5px;
}